@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-Light.ttf") format("woff");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-LightItalic.ttf") format("woff");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-Italic.ttf") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-SemiBold.ttf") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-SemiBoldItalic.ttf") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-BoldItalic.ttf") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-ExtraBold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/font/Montserrat-ExtraBoldItalic.ttf") format("woff");
  font-weight: bold;
  font-style: italic;
}

@import url("aos/dist/aos.css");
@import url("@splidejs/splide/css");
@import url("animate.css");

// color
$primary: #04af93;
$secondary: #1f204e;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  // max-width: 480px;
  // margin: auto;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;

  #navbar {
    ul {
      //     max-width: 480px;
      //     margin: auto;
      li {
        img#logo-ojk {
          width: 120px;
        }
      }
    }
  }

  #fetch-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-gradient {
    background: var(--button, linear-gradient(to right, #04af93 0%, #072f59 100%));
  }
  // #modal-pilih-metode {
  //   // max-width: 480px;
  //   margin: auto;
  // }

  /* For browsers that support :focus-visible */
  .splide {
    .splide__arrows {
      .splide__arrow {
        background-color: white;
        top: 57%;
        opacity: 0.4;
        height: 1.8rem;
        width: 1.8rem;
        &:hover {
          opacity: 1;
        }
        &[disabled] {
          opacity: 0.1;
        }
        &.splide__arrow--next {
          right: 0.5rem;
        }
        &.splide__arrow--prev {
          left: 0.5rem;
        }
        svg {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }
    .splide__pagination {
      bottom: 0.25rem;
      .splide__pagination__page {
        background-color: #ccc;
        &.is-active {
          background-color: #fff;
        }
      }
    }
  }

  .apexcharts-tooltip {
    background: #ffffffae;
  }
  .apexcharts-text {
    &.apexcharts-yaxis-title-text,
    &.apexcharts-xaxis-title-text {
      opacity: 0.6;
      fill: $secondary;
      font-weight: 600;
    }
  }

  // range style
  input#range_amount[type="range"]::-webkit-slider-runnable-track {
    height: 16px;
  }
  // input[type="range"]::-webkit-slider-thumb {
  //   height: 36px;
  //   width: 36px;
  //   background: #ffffff;
  // }
}

@media (max-width: 767px) {
  #navbar {
    ul {
      li {
        img#logo-ojk {
          width: 70px !important;
        }
      }
    }
  }
}
