@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fontawesome/css/all.css";
@import "./custom.scss";

@layer components {
  .input-wrapper:has(input:checked) {
    @apply border-primary text-primary opacity-100;
  }

  .input-wrapper-solid:has(input:checked) {
    @apply bg-primary text-white opacity-100;
  }
}
