<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:standard" />
    <link rel="canonical" href="https://danamart.id/campaign/investasi-urun-dana-potensi-untung-maksimal.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="campaign" />
    <meta property="og:title" content="Investasi Urun Dana Potensi Untung Maksimal" />
    <meta property="og:description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta property="og:url" content="https://danamart.id/campaign/investasi-urun-dana-potensi-untung-maksimal.html" />
    <meta property="og:site_name" content="Danamart" />
    <meta property="article:section" content="Investasi" />
    <meta property="og:updated_time" content="2023-08-28T03:58:35+00:00" />
    <meta property="og:image" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta property="og:image:secure_url" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta property="og:image:width" content="1240" />
    <meta property="og:image:height" content="720" />
    <meta property="og:image:alt" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="article:published_time" content="2023-08-28T04:34:44+00:00" />
    <meta property="article:modified_time" content="2023-08-28T03:58:35+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="twitter:description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="twitter:image" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Admin" />
    <meta name="twitter:label2" content="Time to read" />
    <meta name="twitter:data2" content="2 minutes" />

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KQH4F7M");
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQH4F7M" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="first-loader" style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: white; z-index: 50; display: flex; justify-content: center; align-items: center">
      <img src="./static/danamart.png" alt="danamart.png" class="animate-bounce object-contain" style="width: 2.75rem" />
    </div>

    <header>
      <nav id="navbar" class="fixed left-0 right-0 top-0 bg-white z-40 py-3 px-5 shadow-lg">
        <ul class="flex justify-between items-center">
          <li class="flex-none">
            <div class="flex gap-3 items-center">
              <img src="./static/yukinvest.png" class="object-contain w-14 md:w-24" alt="danamart.png" />
              <span>X</span>
              <img src="./static/danamart-head.png" class="object-contain w-28 md:w-36" alt="danamart.png" />
            </div>
          </li>
          <li class="flex-none">
            <a href="https://scf.danamart.id/webapp/" target="_blank" class="bg-primary px-5 md:px-16 py-2 font-semibold rounded-full text-sm md:text-base cursor-pointer hover:opacity-80 duration-300 text-white Interested_Colplay_LP">Masuk</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- section 1 - hero -->
    <section class="mx-5 pt-24 lg:pt-0 pb-0 lg:flex md:ms-10 md:gap-5 lg:h-screen md:items-center">
      <div class="lg:flex-auto lg:w-2/3 lg:max-w-xl 2xl:max-w-3xl">
        <h3 class="font-bold sm:text-3xl md:text-4xl lg:text-4xl 2xl:text-5xl capitalize text-center lg:text-justify text-secondary mb-3 md:mb-5 md:leading-normal">Ingin Menumbuhkan Uang Sekaligus Memberi Manfaat?</h3>
        <p class="text-base text-center md:text-3xl 2xl:text-4xl lg:text-start mb-1">Semuanya bisa kamu dapatkan dengan <b>#investforGood</b> pada Bisnis Berkelanjutan</p>
        <div class="mt-6 flex justify-center">
          <button data-id="invest-footer" class="bg-primary px-5 md:px-16 py-2 font-semibold rounded-full text-sm md:text-base cursor-pointer hover:opacity-80 duration-300 text-white Interested_Colplay_LP">Mulai Investasi</button>
        </div>
        <div class="flex gap-3 mt-8 items-center flex-nowrap">
          <p class="text-sm md:text-base">Berizin dan diawasi oleh:</p>
          <img src="https://i.ibb.co/WG9847t/Ojk-dark.png" class="object-contain w-32" alt="ojk.png" id="logo-ojk" />
        </div>
      </div>
      <div style="overflow-x: hidden" class="mb-10 lg:flex-auto lg:w-52 lg:max-w-4xl lg:ms-auto -mx-5">
        <img src="./static/home.png" alt="home.png" class="w-full object-contain" data-aos="fade-left" data-aos-delay="500" data-aos-mirror="true" />
      </div>
    </section>

    <!-- section 2 - estimator -->
    <section class="mx-5 mb-10 lg:-mt-20">
      <h3 class="font-bold text-secondary text-center mb-5 md:mb-10 md:text-4xl" data-aos="fade-in" data-aos-duration="1000">Hitung Keuntungan dan Jamin Masa Depanmu Sekarang!</h3>

      <h3 class="text-primary font-bold text-center md:text-3xl">Simulasi Investasi</h3>
      <p class="text-xs text-center mb-3 md:text-base">Jika kamu berinvestasi sejumlah</p>

      <div class="my-4 md:max-w-3xl md:mx-auto">
        <input id="range_amount" type="range" min="10000000" max="1000000000" value="10000000" class="range range-accent" step="5000000" />
        <div class="w-full flex justify-between text-xs px-2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <!-- <div class="grid grid-cols-3 md:max-w-3xl md:mx-auto gap-3 mb-4">
        <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-1" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_amount_LP" value="100000" />
          <label for="bordered-checkbox-1" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp100.000</label>
        </div>
        <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-2" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_amount_LP" value="300000" />
          <label for="bordered-checkbox-2" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp300.000</label>
        </div>
        <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-3" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_amount_LP" value="500000" />
          <label for="bordered-checkbox-3" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp500.000</label>
        </div>
        <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-4" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_amount_LP" value="1000000" />
          <label for="bordered-checkbox-4" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp1.000.000</label>
        </div>
        <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-5" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_amount_LP" value="3000000" />
          <label for="bordered-checkbox-5" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp3.000.000</label>
        </div>
        <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-6" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_amount_LP" value="5000000" />
          <label for="bordered-checkbox-6" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp5.000.000</label>
        </div>
      </div> -->

      <h4 id="invest-show" class="text-primary text-center font-bold mb-5 text-xl">Rp10.000.000</h4>

      <p class="text-xs font-semibold text-center mb-3 md:text-base">Potensi Keuntungan Per Tahun</p>
      <div class="grid grid-cols-3 gap-3 mb-5 md:max-w-3xl md:mx-auto">
        <div class="input-wrapper-solid flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-7" type="radio" name="time_period" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_tenor_LP" value="3-mounth" />
          <label for="bordered-checkbox-7" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">15%</label>
        </div>
        <div class="input-wrapper-solid flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-8" type="radio" name="time_period" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_tenor_LP" value="6-mounth" />
          <label for="bordered-checkbox-8" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">16%</label>
        </div>
        <div class="input-wrapper-solid flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
          <input id="bordered-checkbox-9" type="radio" name="time_period" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Simulate_tenor_LP" value="12-mounth" />
          <label for="bordered-checkbox-9" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">17%</label>
        </div>
      </div>

      <button id="submit-estimator" class="block bg-primary text-white px-6 font-bold py-3 text-sm rounded-full mx-auto hover:opacity-80 duration-300 disabled:opacity-60 Final_simulate_LP your_profit_potential_click your_profit_potential_view" disabled>Hitung</button>
    </section>

    <!-- section 3 - result estimator -->
    <div id="estimator-wrapper" class="my-10 mx-5 animate__animated animate__fadeInUp hidden">
      <div class="text-center mb-10 md:mb-20">
        <h4 class="text-primary leading-8 text-sm md:text-base md:mb-3">Imbal Hasil per bulan: <b id="imbal-hasil-perbulan"></b></h4>
        <h4 class="text-primary leading-8 text-sm md:text-base md:mb-3">Total Imbal Hasil: <b id="total-imbal-hasil"></b></h4>
        <h4 class="text-primary leading-8 text-sm md:text-base md:mb-3">Total Modal + Imbal Hasil: <b id="total-modal-imbal-hasil"></b></h4>
        <p class="text-xs md:text-sm mt-3">*Belum termasuk pajak dan biaya layanan</p>
      </div>

      <div class="lg:flex lg:gap-10 lg:justify-around">
        <div class="bar mb-10 md:mx-auto md:w-2/3 lg:w-2/5" style="display: none">
          <h3 class="font-bold text-secondary text-center mb-5 w-4/5 mx-auto md:text-2xl" data-aos="fade-in" data-aos-duration="1000">Keuntungan dibanding Instrumen Investasi Lain</h3>

          <!-- bar 1 -->
          <div class="grid grid-cols-2 border rounded-lg text-xs md:text-sm">
            <div class="border-r relative p-3 rounded-l-lg">
              <h3 class="font-semibold flex items-center gap-2">
                EBU Danamart
                <span class="text-xxs">
                  <i class="fa-solid fa-caret-up ms-1"></i>
                  <span id="ebu-percent"></span>
                </span>
              </h3>
            </div>
            <div class="text-center border-l relative p-3 rounded-r-lg z-10">
              <h3 id="ebu-amount" class="font-semibold text-secondary"></h3>
              <div id="ebu-bar" class="absolute top-0 left-0 bottom-0 duration-300 bg-primary rounded-r-lg" style="z-index: -1"></div>
            </div>
          </div>
          <!-- bar 2 -->
          <div class="grid grid-cols-2 border rounded-lg text-xs md:text-sm">
            <div class="border-r relative p-3 rounded-l-lg">
              <h3 class="font-semibold flex items-center gap-2">
                Deposito
                <span class="text-xxs">
                  <i class="fa-solid fa-caret-up ms-1"></i>
                  <span id="deposito-percent"></span>
                </span>
              </h3>
            </div>
            <div class="text-center border-l relative p-3 rounded-r-lg z-10">
              <h3 id="deposito-amount" class="font-semibold text-secondary"></h3>
              <div id="deposito-bar" class="absolute top-0 left-0 bottom-0 duration-300 bg-blue-900 rounded-r-lg" style="z-index: -1"></div>
            </div>
          </div>
          <!-- bar 3 -->
          <div class="grid grid-cols-2 border rounded-lg text-xs md:text-sm">
            <div class="border-r relative p-3 rounded-l-lg">
              <h3 class="font-semibold flex items-center gap-2 text-secondary">
                Reksadana
                <span class="text-xxs">
                  <i id="reksadana-icon" class="fa-solid fa-caret-up ms-1"></i>
                  <span id="reksadana-percent"></span>
                </span>
              </h3>
              <div id="reksadana-bar-minus" class="absolute top-0 right-0 bottom-0 duration-300 bg-red-600 rounded-l-lg" style="z-index: -1"></div>
            </div>
            <div class="text-center border-l relative p-3 rounded-r-lg z-10">
              <h3 id="reksadana-amount" class="font-semibold text-secondary"></h3>
              <div id="reksadana-bar" class="absolute top-0 left-0 bottom-0 duration-300 bg-blue-900 rounded-r-lg" style="z-index: -1"></div>
            </div>
          </div>
          <!-- bar 4 -->
          <div class="grid grid-cols-2 border rounded-lg text-xs md:text-sm">
            <div class="border-r relative p-3 rounded-l-lg">
              <h3 class="font-semibold flex items-center gap-2 text-secondary">
                Saham
                <span class="text-xxs">
                  <i id="saham-icon" class="fa-solid fa-caret-up ms-1"></i>
                  <span id="saham-percent"></span>
                </span>
              </h3>
              <div id="saham-bar-minus" class="absolute top-0 right-0 bottom-0 duration-300 bg-red-600 rounded-l-lg" style="z-index: -1"></div>
            </div>
            <div class="text-center border-l relative p-3 rounded-r-lg z-10">
              <h3 id="saham-amount" class="font-semibold text-secondary"></h3>
              <div id="saham-bar" class="absolute top-0 left-0 bottom-0 duration-300 bg-blue-900 rounded-r-lg" style="z-index: -1"></div>
            </div>
          </div>
          <!-- bar 5 -->
          <div class="grid grid-cols-2 border rounded-lg text-xs md:text-sm">
            <div class="border-r relative p-3 rounded-l-lg">
              <h3 class="font-semibold flex items-center gap-2 text-secondary">
                Obligasi
                <span class="text-xxs">
                  <i class="fa-solid fa-caret-up ms-1"></i>
                  <span id="obligasi-percent"></span>
                </span>
              </h3>
            </div>
            <div class="text-center border-l relative p-3 rounded-r-lg z-10">
              <h3 id="obligasi-amount" class="font-semibold text-secondary"></h3>
              <div id="obligasi-bar" class="absolute top-0 left-0 bottom-0 duration-300 bg-blue-900 rounded-r-lg" style="z-index: -1"></div>
            </div>
          </div>
          <!-- bar 6 -->
          <div class="grid grid-cols-2 border rounded-lg text-xs md:text-sm">
            <div class="border-r relative p-3 rounded-l-lg">
              <h3 class="font-semibold flex items-center gap-2 text-secondary">
                Emas
                <span class="text-xxs">
                  <i class="fa-solid fa-caret-up ms-1"></i>
                  <span id="emas-percent"></span>
                </span>
              </h3>
            </div>
            <div class="text-center border-l relative p-3 rounded-r-lg z-10">
              <h3 id="emas-amount" class="font-semibold text-secondary"></h3>
              <div id="emas-bar" class="absolute top-0 left-0 bottom-0 duration-300 bg-blue-900 rounded-r-lg" style="z-index: -1"></div>
            </div>
          </div>
          <p class="text-xs mt-3">*Keuntungan Berdasarkan Performa 1 tahun kebelakang</p>
        </div>

        <div class="text-center md:mx-auto md:w-2/3 mb-10 lg:w-2/5">
          <!-- <h3 class="font-bold text-secondary text-center" data-aos="fade-in" data-aos-duration="1000">Potensi Keuntungan Total Imbal Hasilmu</h3> -->
          <h3 class="mb-5 w-4/5 mx-auto font-bold md:text-2xl">Jika imbal hasilmu terus menerus di investasikan pada EBU Danamart sebesar <span id="potency_percent"></span> per tahun</h3>

          <!-- chart -->
          <section class="relative hidden">
            <div class="grid grid-cols-2 shadow rounded-xl w-full md:w-7/12 border mx-auto relative md:absolute top-0 left-0 right-0">
              <div class="col-start-1 col-span-2 text-xs font-bold p-3">Jangka Waktu <span id="period-value" class="text-primary"></span></div>
              <div class="col-start-1 col-span-2 text-xs border-t p-3 font-semibold"><i class="fa-solid fa-circle fa-xs text-primary"></i> Potensi Keuntungan <br /><b id="potent-value" class="text-primary"></b></div>
            </div>

            <div id="chart"></div>
          </section>

          <!-- table -->
          <div class="overflow-x-auto">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th class="md:text-base">Jangka waktu</th>
                  <th class="md:text-base">Potensi Keuntungan</th>
                </tr>
              </thead>
              <tbody id="table-potensi"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- section 4 - offer/list project -->
    <style>
      input[type="range"]::-webkit-slider-runnable-track {
        height: 8.4px;
        cursor: pointer;
        background: #eaeaea;
      }
    </style>
    <section id="testimony__section" class="splide mb-24 md:mb-28 mx-5 md:max-w-5xl md:mx-auto" aria-label="Splide Basic HTML Example">
      <h4 id="title-pilihan-proyek" class="text-center text-xl font-bold mb-3 md:text-3xl" data-aos="fade-in" data-aos-duration="1500">Pilihan Proyek</h4>
      <div class="splide__track mb-3">
        <ul id="list-project" class="splide__list md:gap-3">
          <div class="item relative shadow-lg hover:shadow-2xl transition-all duration-300 invisible">
            <div class="relative">
              <img src="https://danamart.id/dm-scf-api/writable/uploads/gbr-cek-ombak-rms-thumbnail.jpg" alt="example-project.png" class="block mx-auto object-contain rounded-lg w-full aspect-video" />
              <div class="absolute left-0 right-0 bottom-0 top-0 flex flex-col">
                <div class="badge badge-accent text-white p-3 rounded-none rounded-br-lg rounded-tl-lg font-semibold text-xs">Listing</div>
                <div class="mt-auto pt-1 pb-3 bg-gradient-to-r from-sky-700  to-sky-700 opacity-60 text-xs md:text-sm font-semibold text-white">
                  <div class="flex justify-between px-3">
                    <div>
                      <i class="fa-solid fa-trophy"></i>
                      <span class="text-xs">10000</span>
                    </div>
                    <span class="text-xs">100%</span>
                  </div>
                </div>
                <div class="flex-none absolute -bottom-3 w-full">
                  <input type="range" min="0" max="100" value="30" class="range range-xs range-accent rounded-none" disabled />
                </div>
              </div>
            </div>
            <div class="flex justify-between m-4 text-mxs">
              <span class="whitespace-nowrap">
                <i class="fa-solid fa-clock opacity-60"></i>
                PreListing: 1 hari 6 jam 56 menit
              </span>
              <span class="whitespace-nowrap">
                <i class="fa-solid fa-user opacity-60"></i>
                0 Pemodal
              </span>
            </div>
            <div class="flex flex-col m-4">
              <div class="relative h-14">
                <h4 class="absolute font-bold w-11/12 text-base md:text-xl mb-5">Proyek Pengadaan Botol Plastik</h4>
              </div>
              <div class="grid grid-cols-6 gap-4 mb-8">
                <div class="col-start-1 col-span-4">
                  <small>Jenis Efek</small>
                  <p class="text-xs md:text-sm">Obligasi</p>
                </div>
                <div class="col-start-1 col-end-3">
                  <small>Kupon</small>
                  <p class="text-xs md:text-sm">0%</p>
                </div>
                <div class="col-start-4 col-span-2">
                  <small>Tenor</small>
                  <p class="text-xs md:text-sm">2 bulan</p>
                </div>
              </div>
              <div class="flex justify-between gap-3">
                <button onclick="my_modal_2.showModal()" id="btn-share" dat-id="123" class="btn btn-outline w-2/4 border-transparent text-primary rounded-full hover:bg-transparent hover:text-primary hover:border-primary hover:opacity-80 capitalize">
                  Bagikan <i class="fa-sharp fa-regular fa-share-nodes"></i>
                </button>
                <a href="#" class="btn bg-primary w-2/4 text-white rounded-full hover:bg-primary hover:text-white hover:opacity-80 capitalize">Investasi</a>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="absolute flex w-full justify-center">
        <a href="https://danamart.id/etalase.html" class="block">
          <button class="btn bg-transparent border-primary rounded-full px-10 text-primary hover:bg-primary hover:text-white hover:border-primary block mx-auto capitalize">Lainnya <i class="fa fa-chevron-right fa-xs ms-3"></i></button>
        </a>
      </div>
    </section>

    <!-- section 5 - testimony -->
    <!-- <section class="mx-2 mb-10">
      <h3 class="font-bold text-secondary text-center mb-5 md:text-2xl" data-aos="fade-in" data-aos-duration="1500">Testimoni</h3>

      <div class="grid grid-cols-1 gap-3 py-2 md:max-w-3xl md:mx-auto">
        <div class="flex flex-col items-center text-center shadow-lg p-2 md:p-10 rounded-lg w-1/2 mx-auto" data-aos="fade-down" data-aos-delay="50">
          <img src="./static/testi-5.png" class="w-10 md:w-14 rounded-full mb-1 aspect-square object-contain" alt="Siti Maimunah" />
          <h5 class="font-bold text-xs md:text-base">Merry John</h5>
          <h6 class="italic text-xxs mb-2 md:text-xs">Wirausaha asal Manado</h6>
          <p class="text-xxs md:text-xs">Prosesnya cepat, dananya lancar, karyawannya ramah dan murah senyum😊</p>
        </div>
        <div class="flex flex-col items-center text-center shadow-lg p-2 md:p-10 rounded-lg" data-aos="fade-down" data-aos-delay="50">
          <img src="./static/testi-1.png" class="w-10 md:w-14 rounded-full mb-1 aspect-square object-contain" alt="Siti Maimunah" />
          <h5 class="font-bold text-xs md:text-base">Siti Maimunah</h5>
          <h6 class="italic text-xxs mb-2 md:text-xs">Mahasiswi & Karyawan Swasta</h6>
          <p class="text-xxs md:text-xs">Pelayanannya jempolan dan platformnya mudah digunakan</p>
        </div>
        <div class="flex flex-col items-center text-center shadow-lg p-2 md:p-10 rounded-lg" data-aos="fade-down" data-aos-delay="250">
          <img src="./static/testi-2.png" class="w-10 md:w-14 rounded-full mb-1 aspect-square object-contain bg-black" alt="Andri Dwiko" />
          <h5 class="font-bold text-xs md:text-base">Andri Dwiko</h5>
          <h6 class="italic text-xxs mb-2 md:text-xs">Pemilik Usaha</h6>
          <p class="text-xxs md:text-xs">Sebagai investor pemula, layanannya sangat memudahkan dalam meraih passive income</p>
        </div>
        <div class="flex flex-col items-center text-center shadow-lg p-2 rounded-lg" data-aos="fade-up" data-aos-delay="450">
          <img src="./static/testi-3.png" class="w-10 md:w-14 rounded-full mb-1 aspect-square object-contain" alt="Cindera Hegawan" />
          <h5 class="font-bold text-xs md:text-base">Cindera Hegawan</h5>
          <h6 class="italic text-xxs mb-2 md:text-xs">Karyawan Swasta</h6>
          <p class="text-xxs md:text-xs">Danamart terbukti memberikan imbal hasil tinggi</p>
        </div>
        <div class="flex flex-col items-center text-center shadow-lg p-2 rounded-lg" data-aos="fade-up" data-aos-delay="650">
          <img src="./static/testi-4.png" class="w-10 md:w-14 rounded-full mb-1 aspect-square object-contain" alt="Elang Hardifal" style="background-color: #fbfbfa" />
          <h5 class="font-bold text-xs md:text-base">Elang Hardifal</h5>
          <h6 class="italic text-xxs mb-2 md:text-xs">Karyawan Swasta</h6>
          <p class="text-xxs md:text-xs">Saya sangat merasa dimudahkan dalam proses investasi dengan layanan yang tanggap</p>
        </div>
      </div>
    </section> -->

    <section class="mx-2 mb-10">
      <h3 class="font-bold text-secondary text-center mb-5 md:text-2xl" data-aos="fade-in" data-aos-duration="1500">Disclaimer</h3>
      <article class="mx-5 md:mx-10 leading-7 text-sm md:text-base">
        <p class="text-justify mb-5">
          PT Dana Aguna Nusantara adalah suatu perseroan terbatas yang bergerak di bidang jasa layanan urun dana berbasis teknologi informasi (Penyelenggara) dan mengembangkan bisnis layanan urun dana bersama dengan mempertemukan Pemodal dan Penerbit (selanjutnya Pemodal dan Penerbit disebut
          bersama-sama sebagai 'Pengguna'). Pada layanan urun dana ini, timbulnya hubungan perdata terjadi apabila Pemodal sepakat untuk membeli efek yang ditawarkan oleh Penerbit, sehingga segala risiko yang timbul dari hubungan tersebut akan menjadi tanggung jawab masing-masing pihak. Risiko yang
          timbul dari hak sebagai Pemodal untuk menerima imbal hasil dari Penerbit merupakan risiko yang wajib ditanggung oleh Pemodal sesuai kebijakan imbal hasil Penerbit. Danamart hanya bertindak sebagai layanan urun dana yang mempertemukan antara Pemodal dengan Penerbit dan tidak bertindak
          sebagai pelaku usaha yang menjalankan usaha untuk mengumpulkan dana terkait atau pengelola investasi (Penerbit). Sesuai dengan Pasal 27 Peraturan Otoritas Jasa Keuangan No. 57 Tahun 2020 tentang PENAWARAN EFEK MELALUI LAYANAN URUN DANA BERBASIS TEKNOLOGI INFORMASI (POJK 57/2020) yang
          menyatakan bahwa:
        </p>
        <div class="overflow-hidden">
          <ol id="more-disclaimer" class="list-decimal ps-5 md:ps-10 text-justify animate__animated animate__slideInDown hidden">
            <li>
              OTORITAS JASA KEUANGAN TIDAK MEMBERIKAN PERSETUJUAN TERHADAP PENERBIT DAN TIDAK MEMBERIKAN PERNYATAAN MENYETUJUI ATAU TIDAK MENYETUJUI EFEK INI, TIDAK JUGA MENYATAKAN KEBENARAN ATAU KECUKUPAN INFORMASI DALAM LAYANAN URUN DANA INI. SETIAP PERNYATAAN YANG BERTENTANGAN DENGAN HAL TERSEBUT
              ADALAH PERBUATAN MELANGGAR HUKUM.
            </li>
            <li>INFORMASI DALAM LAYANAN URUN DANA INI PENTING DAN PERLU MENDAPAT PERHATIAN SEGERA. APABILA TERDAPAT KERAGUAN PADA TINDAKAN YANG AKAN DIAMBIL, SEBAIKNYA BERKONSULTASI DENGAN PENYELENGGARA; dan</li>
            <li>PENERBIT DAN PENYELENGGARA, BAIK SENDIRI-SENDIRI MAUPUN BERSAMA-SAMA, BERTANGGUNG JAWAB SEPENUHNYA ATAS KEBENARAN SEMUA INFORMASI YANG TERCANTUM DALAM LAYANAN URUN DANA INI.</li>
            <li>Danamart bertindak sebagai penyelenggara urun dana yang mempertemukan Pemodal dan Penerbit dan bukan sebagai pihak yang menjalankan bisnis (Penerbit). Otoritas Jasa Keuangan bertindak sebagai regulator dan pemberi izin, bukan sebagai penjamin investasi.</li>
            <li>
              Keputusan pembelian efek di Danamart, sepenuhnya merupakan hak dan tanggung jawab Pemodal. Pemodal yang melakukan pembelian efek telah menyetujui seluruh syarat dan ketentuan serta memahami risiko pembelian efek termasuk di dalamnya menjual kembali efek tersebut dengan cepat,
              membatalkan pembelian efek, dan atau kehilangan Sebagian atau seluruh dari modal. Danamart bertindak sebagai penyelenggara urun dana yang mempertemukan Pemodal dan Penerbit, bukan sebagai pihak yang menjalankan bisnis (Penerbit). Otoritas Jasa Keuangan bertindak sebagai regulator dan
              pemberi izin, bukan sebagai penjamin investasi.
            </li>
            <li>Risiko Usaha: Pembelian yang belum atau tidak menghasilkan sepenuhnya menjadi tanggung jawab Pemodal. Diharapkan Pemodal melakukan perhitungan dan analisa yang tepat terhadap Penerbit dan usahanya sebelum melakukan pembelian efek.</li>
            <li>Risiko Investasi: Pemodal memiliki hak untuk mendapatkan imbal hasil atas usaha yang dilakukan oleh Penerbit. Tidak menutup kemungkinan bahwa tidak adanya pembagian imbal hasil karena usaha yang dilakukan oleh Penerbit mengalami penurunan.</li>
            <li>Risiko Likuiditas: Adanya kemungkinan bahwa Pemodal tidak dapat dengan mudah menjual efek pada pasar sekunder untuk efek dari Penerbit.</li>
            <li>Kegagalan Sistem Elektronik: Adanya kemungkinan bahwa sistem elektronik dapat mengalami gangguan sewaktu-waktu yang disebabkan oleh kesalahan teknis.</li>
            <li>Risiko kelangkaan pembagian dividen dan/atau dilusi kepemilikan saham, jika Efek yang diterbitkan merupakan saham; dan</li>
            <li>Risiko Gagal Bayar: Keputusan pembelian efek dapat mengakibatkan risiko kehilangan sebagian atau seluruh modal investasi termasuk di dalamnya penurunan usaha Penerbit dan lain hal sebagainya.</li>
          </ol>
        </div>
      </article>
      <button id="toggle-disclaimer" class="px-5 mt-3 md:px-16 mx-auto block py-2 font-semibold rounded-full text-sm md:text-base cursor-pointer hover:opacity-80 duration-300 text-primary border border-primary hover:bg-primary hover:text-white">Baca lebih lanjut</button>
    </section>

    <!-- seciton las one - footer -->
    <footer class="footer grid-flow-col grid-rows-3 md:grid-rows-1 gap-3 p-5 bg-white mb-20">
      <div class="max-w-sm">
        <span class="footer-title capitalize text-xs md:text-base opacity-100">
          <div class="flex gap-3 items-center">
            <img src="./static/yukinvest.png" class="object-contain w-14 md:w-24" alt="danamart.png" />
            <span>X</span>
            <img src="./static/danamart-head.png" class="object-contain w-28 md:w-36" alt="danamart.png" />
          </div>
        </span>
        <a href="javascript:" target="_blank" class="link link-hover text-xs md:text-sm Consider_LP"> Keuntungan yang memberi manfaat bagi lingkungan, masyarakat, & terciptanya tata kelola bisnis yang sehat dengan memberdayakan bisnis berkelanjutan untuk masa depan yang baik. </a>
      </div>
      <div>
        <span class="footer-title opacity-70 capitalize text-xs md:text-base">Berizin & Diawasi OJK</span>
        <a href="https://www.certipedia.com/quality_marks/9000012841?locale=en&qm_locale=en#" target="_blank" class="link link-hover text-xs md:text-sm Consider_LP">Bersertifikat <img src="./static/iso.png" class="object-contain inline w-8" alt="iso.png" /></a>
        <a href="https://aludi.id/index.php/core_home/selengkapnya_anggota" target="_blank" class="link link-hover text-xs md:text-sm Consider_LP">Anggota <img src="./static/aludi.png" class="object-contain inline w-11" alt="iso.png" /></a>
      </div>
      <div>
        <span class="footer-title opacity-70 capitalize text-xs md:text-base">Get In Touch</span>
        <a href="tel:021-1918-1080" target="_blank" class="link link-hover text-xs md:text-sm Consider_LP"> <i class="fa-light fa-phone"></i> +62 21 1918 1080 </a>
        <a href="tel:08119-1515-75" target="_blank" class="link link-hover text-xs md:text-sm Consider_LP"> <i class="fa-light fa-mobile"></i> +62 8119 1515 75 </a>
        <a href="mailto:yukinvestindonesia@gmail.com" target="_blank" class="link link-hover text-xs md:text-sm Consider_LP"> <i class="fa-light fa-envelope"></i> yukinvestindonesia@gmail.com </a>
        <a href="https://www.instagram.com/yukinvest.id/" target="_blank" class="link link-hover text-xs md:text-sm Consider_LP"> <i class="fa-brands fa-instagram"></i> @yukinvest.id </a>
      </div>
    </footer>

    <!-- section last - after footer -->
    <!-- <section class="h-20 bg-secondary flex p-5 justify-between md:justify-around md:gap-4 items-center fixed bottom-0 left-0 right-0 mx-auto z-40">
      <p class="text-xxs md:text-sm text-white flex-none">
        Dapatkan 1 tambahan Kupon undian&nbsp; <br class="md:hidden" />
        <b>Coldplay CAT 3</b> + Kursus GRATIS dari Omah&nbsp;<br class="md:hidden" />
        Biznis dengan hanya 10 investor/hari!
      </p>
      <button data-id="invest-footer" class="bg-primary px-5 md:px-16 py-2 font-semibold rounded-full text-sm md:text-base cursor-pointer hover:opacity-80 duration-300 text-white Interested_Colplay_LP">Investasi</button>
    </section> -->

    <!-- modal -->
    <!-- Open the modal using ID.showModal() method -->
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Bagikan <span id="title-modal-share"></span></h3>
        <div class="mt-5 grid grid-cols-6 md:grid-cols-8 gap-4">
          <a href="#" id="share-linkedin" target="_blank" class="col-start-1 btn bg-transparent border-none">
            <i class="fa-brands fa-linkedin-in fa-2x text-blue-600"></i>
          </a>
          <a href="#" id="share-facebook" target="_blank" class="col-start-2 btn bg-transparent border-none decodnon">
            <i class="fa-brands fa-facebook fa-2x text-blue-800"></i>
          </a>
          <a href="#" id="share-twitter" target="_blank" class="col-start-3 btn bg-transparent border-none">
            <i class="fa-brands fa-twitter fa-2x text-sky-400"></i>
          </a>
          <button id="btn-copy-share" class="btn btn-active bg-transparent border-none col-start-4 col-end-9 text-end align-middle text-primary"> Salin Link <i class="fa-solid fa-copy"></i> </butt>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </body>
</html>
