<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:standard" />
    <link rel="canonical" href="https://danamart.id/campaign/investasi-urun-dana-potensi-untung-maksimal.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="campaign" />
    <meta property="og:title" content="Investasi Urun Dana Potensi Untung Maksimal" />
    <meta property="og:description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta property="og:url" content="https://danamart.id/campaign/investasi-urun-dana-potensi-untung-maksimal.html" />
    <meta property="og:site_name" content="Danamart" />
    <meta property="article:section" content="Investasi" />
    <meta property="og:updated_time" content="2023-08-28T03:58:35+00:00" />
    <meta property="og:image" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta property="og:image:secure_url" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta property="og:image:width" content="1240" />
    <meta property="og:image:height" content="720" />
    <meta property="og:image:alt" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="article:published_time" content="2023-08-28T04:34:44+00:00" />
    <meta property="article:modified_time" content="2023-08-28T03:58:35+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="twitter:description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="twitter:image" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Admin" />
    <meta name="twitter:label2" content="Time to read" />
    <meta name="twitter:data2" content="2 minutes" />

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KQH4F7M");
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQH4F7M" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="first-loader" style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: white; z-index: 50; display: flex; justify-content: center; align-items: center">
      <img src="./static/danamart.png" alt="danamart.png" class="animate-bounce object-contain" style="width: 2.75rem" />
    </div>

    <dialog id="my_modal_1" class="modal">
      <form method="dialog" class="modal-box">
        <h3 class="font-bold text-lg">Pembayaran telah berhasil</h3>
        <div class="modal-action">
          <button id="redirect_login" class="btn bg-primary text-white rounded-full px-10 block mx-auto">Login Sekarang</button>
        </div>
      </form>
    </dialog>

    <!-- container -->
    <main class="bg-gradient md:max-w-3xl md:mx-auto">
      <div class="relative py-16" style="height: 80vh">
        <div class="flex flex-col items-center justify-center mb-3" id="info-aktif">
          <div class="text-center flex items-center">
            <a href="./register.html" class="absolute left-4 ease-in duration-150 hover:scale-125 text-white">
              <i class="fa-solid fa-arrow-left"></i>
            </a>
            <div>
              <p class="text-white opacity-80 text-sm">Batas waktu pembayaran</p>
              <h3 class="text-white font-semibold text-sm" id="expired-time">Senin, 28 Agustus 2023 13.00 WIB</h3>
            </div>
          </div>

          <div class="text-center mt-5">
            <img src="./static/qr-code-light.svg" alt="qr_code.svg" class="mx-auto" />
            <small class="font-semibold text-white">Scan QR Code</small>
          </div>

          <div class="bg-white p-3 rounded-2xl mt-5 mb-3 relative" id="canvas">
            <img src="" alt="" class="bg-white rounded-m w-40" />
            <button id="download-qris" class="absolute -right-4">
              <i class="fa-regular fa-download text-white opacity-75 duration-150 hover:opacity-100"></i>
            </button>
          </div>

          <p class="text-white text-sm mb-3" id="countdown">00</p>

          <p class="text-white opacity-80 text-sm">Jumlah Pembayaran</p>
          <h3 class="text-white font-semibold text-sm" id="nominal"></h3>
        </div>

        <h2 id="status" class="text-center text-white font-semibold hidden"></h2>
      </div>

      <div class="px-8 pb-10 bg-white pt-6 rounded-t-3xl shadow-md relative bottom-0 w-full md:max-w-3xl">
        <div class="collapse collapse-arrow" id="panduan-pembayaran">
          <input type="checkbox" name="my-accordion-1" />
          <div class="collapse-title text-base font-semibold opacity-80">Panduan Pembayaran</div>
          <div class="collapse-content">
            <ul class="list-disc text-sm">
              <li>Scan/screenshot kode QR yang tampil di layar dengan aplikasi bank, aplikasi dompet digital (e-wallet) atau aplikasi pembayaran lain yang mendukung pembayaran QRIS.</li>
              <li>Periksa detail transaksi pada aplikasi, lalu klik tombol Bayar.</li>
              <li>Masukkan PIN.</li>
              <li>Setelah transaksi selesai, kembali ke halaman ini dan akan diteruskan ke halaman portfolio.</li>
            </ul>
          </div>
        </div>
        <div class="collapse collapse-arrow">
          <input type="checkbox" name="my-accordion-2" />
          <div class="collapse-title text-base font-semibold opacity-80"><i class="fa-regular fa-circle-question"></i> Bantuan</div>
          <div class="collapse-content">
            <a href="halo@danamart.id" target="_blank" rel="noopener noreferrer" class="block text-sm mb-1 text-primary opacity-100 hover:opacity-100 duration-150"><span class="text-black">Email:</span> halo@danamart.id</a>
            <a href="https://wa.me/628111193278" target="_blank" rel="noopener noreferrer" class="block text-sm mb-1 text-primary opacity-100 hover:opacity-100 duration-150"><span class="text-black">WhatsApp:</span> +62811-119-3278</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
