<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:standard" />
    <link rel="canonical" href="https://danamart.id/campaign/investasi-urun-dana-potensi-untung-maksimal.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="campaign" />
    <meta property="og:title" content="Investasi Urun Dana Potensi Untung Maksimal" />
    <meta property="og:description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta property="og:url" content="https://danamart.id/campaign/investasi-urun-dana-potensi-untung-maksimal.html" />
    <meta property="og:site_name" content="Danamart" />
    <meta property="article:section" content="Investasi" />
    <meta property="og:updated_time" content="2023-08-28T03:58:35+00:00" />
    <meta property="og:image" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta property="og:image:secure_url" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta property="og:image:width" content="1240" />
    <meta property="og:image:height" content="720" />
    <meta property="og:image:alt" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="article:published_time" content="2023-08-28T04:34:44+00:00" />
    <meta property="article:modified_time" content="2023-08-28T03:58:35+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="twitter:description" content="Investasi Securities Crowdfunding Pertama Berbasis ESG di Indonesia Terpercaya dan berizin OJK dengan potensi keuntungan 15% per tahun" />
    <meta name="twitter:image" content="https://danamart.id/blog/wp-content/uploads/2023/06/Banner-Perubahan-Blog-Give-Away-Coldplay.jpg" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Admin" />
    <meta name="twitter:label2" content="Time to read" />
    <meta name="twitter:data2" content="2 minutes" />

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KQH4F7M");
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQH4F7M" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="first-loader" style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: white; z-index: 50; display: flex; justify-content: center; align-items: center">
      <img src="./static/danamart.png" alt="danamart.png" class="animate-bounce object-contain" style="width: 2.75rem" />
    </div>

    <nav id="navbar" class="sticky top-0 bg-white z-40 py-3 px-5"></nav>

    <!-- container -->
    <main class="mx-5 md:max-w-3xl md:mx-auto">
      <div class="flex items-center justify-center h-40 relative">
        <a href="./" class="flex-none absolute left-0 ease-in duration-150 hover:scale-125">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h3 class="font-semibold text-xl md:text-2xl capitalize text-center text-secondary px-5 md:px-10">Investasi di <span id="project-name" class="font-bold"></span></h3>
      </div>
      <p class="text-xs opacity-95 mb-6">Penawaran Tersedia: <b id="slot-pembelian"></b></p>

      <h4 class="font-bold text-secondary text-sm md:text-base mb-5">Identitas Diri</h4>
      <form action="javascript:" method="POST" id="form-register" class="pb-24">
        <label class="block form-name mb-3">
          <span class="form-name text-sm font-medium text-slate-700">Nama Lengkap (Sesuai KTP)</span>
          <input
            type="text"
            placeholder="Jhon Doi"
            class="mt-1 form-name w-full px-3 py-2 bg-slate-50 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 placeholder:font-normal font-semibold duration-300 outline-none h-10 Desired_LP"
            name="full_name"
            required
          />
        </label>
        <label class="block form-phone mb-3">
          <span class="form-phone text-sm font-medium text-slate-700">No. Handphone</span>
          <input
            type="tel"
            placeholder="085123456789"
            class="cleave-phone mt-1 form-phone w-full px-3 py-2 bg-slate-50 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 placeholder:font-normal font-semibold duration-300 outline-none h-10 Desired_LP"
            name="phone_number"
            required
          />
        </label>
        <label class="block form-email mb-3">
          <span class="form-email text-sm font-medium text-slate-700">Email</span>
          <input
            type="email"
            placeholder="email@domain.com"
            class="mt-1 form-email w-full px-3 py-2 bg-slate-50 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 placeholder:font-normal font-semibold duration-300 outline-none h-10 Desired_LP"
            name="email"
            required
          />
        </label>

        <br />

        <h4 class="font-bold text-secondary text-sm">Berapa jumlah yang kamu investasikan?</h4>
        <p class="text-xs opacity-50 mb-5">*Rp 100.000 = 1 undian tiket coldplay</p>

        <div class="grid grid-cols-3 gap-3 mb-3">
          <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
            <input id="bordered-checkbox-1" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Desired_Amount_LP" value="100000" />
            <label for="bordered-checkbox-1" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp100.000</label>
          </div>
          <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
            <input id="bordered-checkbox-2" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Desired_Amount_LP" value="300000" />
            <label for="bordered-checkbox-2" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp300.000</label>
          </div>
          <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
            <input id="bordered-checkbox-3" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Desired_Amount_LP" value="500000" />
            <label for="bordered-checkbox-3" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp500.000</label>
          </div>
          <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
            <input id="bordered-checkbox-4" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Desired_Amount_LP" value="1000000" />
            <label for="bordered-checkbox-4" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp1.000.000</label>
          </div>
          <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
            <input id="bordered-checkbox-5" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Desired_Amount_LP" value="3000000" />
            <label for="bordered-checkbox-5" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp3.000.000</label>
          </div>
          <div class="input-wrapper flex items-center text-center rounded-full border border-transparent opacity-70 bg-slate-100">
            <input id="bordered-checkbox-6" type="radio" name="investment_amount" class="h-5 w-5 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-0 hidden Desired_Amount_LP" value="5000000" />
            <label for="bordered-checkbox-6" class="ml-2 w-full py-2 text-xs md:text-sm font-semibold cursor-pointer">Rp5.000.000</label>
          </div>
        </div>

        <br />

        <h4 class="font-bold text-secondary text-sm md:text-base">Nominal Investasi Lainnya</h4>
        <label class="block form-phone mb-3">
          <input
            type="tel"
            class="format-thousand mt-1 form-phone w-full px-3 py-2 bg-slate-50 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 placeholder:font-normal font-semibold duration-300 outline-none h-10 Desired_Amount_LP"
            name="investment_amount_other"
          />
        </label>

        <br />

        <div class="fixed bottom-0 left-0 right-0 justify-center bg-white py-3 shadow">
          <p id="coldplay-ticket" class="text-xs text-center mb-2 hidden">
            Yey 🥳 kamu akan mendapat <b> <span id="coldplay-ticket-counter"></span> undian tiket COLDPLAY</b>
          </p>
          <button type="submit" class="block mx-auto bg-primary text-white px-14 py-3 rounded-full font-bold text-sm md:text-base duration-150 ease-linear hover:scale-105 hover:opacity-95 Action_LP">Investasi Sekarang</button>
        </div>
      </form>
    </main>

    <!-- modal pilih metode pembayaran -->
    <main id="modal-pilih-metode" class="fixed z-50 left-0 right-0 bottom-0 top-14 bg-white px-5 hidden overflow-y-auto pb-10 md:max-w-3xl md:mx-auto">
      <div class="flex items-center justify-center h-32 relative">
        <button id="modal-btn-close" class="flex-none absolute left-0 ease-in duration-150 hover:scale-125">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <h3 class="font-bold text-lg capitalize text-center text-secondary">Pilih Metode Pembayaran</h3>
      </div>

      <ul role="list">
        <!-- <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="qr_code">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/qr-code.svg" alt="qris.svg" class="w-8" />
              <p>QRIS</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li> -->
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_BRI">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-bri.svg" alt="bank-bri.svg" class="w-8" />
              <p>BRI Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_BNI">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-bni.svg" alt="bank-bni.svg" class="w-8" />
              <p>BNI Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_PERMATA">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-permata.svg" alt="bank-permata.svg" class="w-8" />
              <p>PERMATA Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_MANDIRI">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-mandiri.svg" alt="bank-mandiri.svg" class="w-8" />
              <p>MANDIRI Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_DANAMON">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-danamon.svg" alt="bank-danamon.svg" class="w-8" />
              <p>DANAMON Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_CIMB">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-cimb.svg" alt="bank-cimb.svg" class="w-8" />
              <p>CIMB Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_HANA">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-hana.svg" alt="bank-hana.svg" class="w-8" />
              <p>HANA Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_MAYBANK">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-maybank.svg" alt="bank-maybank.svg" class="w-8" />
              <p>MAYBANK Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
        <li class="group/item hover:bg-teal-50 flex justify-between items-center cursor-pointer px-4 py-4 rounded-xl duration-300 border border-slate-50 mb-1 text-sm" payment-method="VA_PERMATA_SYARIAH">
          <a href="javascript:">
            <div class="group/read flex items-center gap-5">
              <img src="./static/bank-permata.svg" alt="bank-permata-syariah.svg" class="w-8" />
              <p>PERMATA SYARIAH Virtual Account</p>
            </div>
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible p-2 rounded-md" href="javascript:">
              <span class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                <i class="fa-sharp fa-light fa-angle-right"></i>
              </span>
            </a>
          </a>
        </li>
      </ul>
    </main>

    <!-- modal alert -->
    <dialog id="modal_alert" class="modal">
      <form method="dialog" class="modal-box">
        <h3 class="font-semibold text-base text-red-400" id="modal_alert_title"></h3>
        <!-- <p class="py-4"></p> -->
      </form>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </body>
</html>
